/**
 * Less For FAQs Styles
 */

.qe-faq-content {
    padding-top: 1px;
}

.qe-faq-toggle {

  margin-bottom: 1px;
  transition: all 0.5s;

  .qe-toggle-title{
    background-color: #777;
    color: #fff;
    margin: 0;
    height: auto;
    cursor: pointer;
    transition: all 0.5s;
    h4 {
      padding: 1em;
      margin: 0;
    }
  }

  .qe-toggle-content {
    padding: 1.5em 1.5em 0.3em;
    margin: 0;
    border: 1px solid #ddd;
    display: none;
  }

}