/**
 * Less For FAQs Styles
 */

.qe-faq-content {
    padding-top: 1px;
}

.qe-faq-toggle {

  margin-bottom: 1px;
  transition: all 0.5s;

  .qe-toggle-title{
    background-color: #37b3d9;
    color: #fff;
    margin: 0;
    height: auto;
    cursor: pointer;
    transition: all 0.2s;
    padding: 1em;
    i.fa{
      margin-right: 5px;
    }
    &:hover{
      background-color: lighten( #37b3d9 , 5% );
    }
  }

  .qe-toggle-content {
    padding: 1.5em 1.5em 0.3em;
    margin: 0;
    border: 1px solid #ddd;
    display: none;
  }

}

.qe-faqs-filters-container{
  list-style: none;
  padding: 0;
  margin: 0 0 1em 0;
  li {
    display: inline;
    padding: 0;
    margin: 0;
    a{
      display: inline-block;
      border-bottom: 1px solid;
      padding: .2em .5em;
      margin: 0 0.5em 0 0;
      // background-color: #37b3d9;
      // color: #fff;
      &:hover{
        // background-color: darken( #37b3d9 , 10% );
        border-bottom: 2px solid;
      }
    }
    &.active{
      a{
        // background-color: darken( #37b3d9 , 10% );
        border-bottom: 2px solid;
        font-weight: bold;
      }
    }
  }
}